.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px; /* or 950px */
  height: 100%;
  background:white;
  overflow-y: hidden;
}

html, body, {
    height: 100%;
    background: #003057;
  }
